.jumbotron {margin-bottom: 0 !important;
background-color: #F4F4F4 !important}

.footer {background-color: #999999 !important;
padding: 1rem !important;}

.button{background-color: #CC3399 !important;
color: #ffffff !important}